.head{
  margin: 0;
  padding: 0;

  .topline{
    background-color: #4cb1ca;
    margin: 0;

    ul li{
     list-style-type: none;
     display: inline-block;  
     padding: 0;

     a{
      color: #fff;
      font-size: 16px;
      font-family: 'Open Sans', sans-serif;
      padding: 17px 15px;
      transition: all ease-in-out 0.2s;
      border-right: 1px solid #fff;
      @media(max-width:338px){
        font-size: 14px;
        border-right: none;
      }
      &:hover{
        text-decoration: none;
      }
    } 

  }

}
}
.profile{
  float: left;
}
.sign{
  float: right;
}