@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoBold/RobotoBold.eot');
  src: url('../fonts/RobotoBold/RobotoBold.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoBold/RobotoBold.woff') format('woff'), url('../fonts/RobotoBold/RobotoBold.ttf') format('truetype'), url('../fonts/RobotoBold/RobotoBold.svg#Roboto') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoLight/RobotoLight.eot');
  src: url('../fonts/RobotoLight/RobotoLight.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoLight/RobotoLight.woff') format('woff'), url('../fonts/RobotoLight/RobotoLight.ttf') format('truetype'), url('../fonts/RobotoLight/RobotoLight.svg#Roboto') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular/RobotoRegular.eot');
  src: url('../fonts/RobotoRegular/RobotoRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff'), url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype'), url('../fonts/RobotoRegular/RobotoRegular.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoMedium/RobotoMedium.eot');
  src: url('../fonts/RobotoMedium/RobotoMedium.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoMedium/RobotoMedium.woff') format('woff'), url('../fonts/RobotoMedium/RobotoMedium.ttf') format('truetype'), url('../fonts/RobotoMedium/RobotoMedium.svg#Roboto') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'icons';
  src: url('../fonts/icons/icons.eot');
  src: url('../fonts/icons/icons.eot?#iefix') format('embedded-opentype'), url('../fonts/icons/icons.woff') format('woff'), url('../fonts/icons/icons.ttf') format('truetype'), url('../fonts/icons/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.head {
  margin: 0;
  padding: 0;
}
.head .topline {
  background-color: #4cb1ca;
  margin: 0;
}
.head .topline ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}
.head .topline ul li a {
  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  padding: 17px 15px;
  transition: all ease-in-out 0.2s;
  border-right: 1px solid #fff;
}
@media (max-width: 338px) {
  .head .topline ul li a {
    font-size: 14px;
    border-right: none;
  }
}
.head .topline ul li a:hover {
  text-decoration: none;
}
.profile {
  float: left;
}
.sign {
  float: right;
}
#owl-demo p {
  padding: 140px 20px;
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 42px;
  z-index: 9999;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  #owl-demo p {
    font-size: 34px;
    padding-right: 25px;
    padding-left: 25px;
  }
}
#owl-demo a {
  text-decoration: none;
  color: #fff;
  z-index: 9999;
}
#owl-demo .one {
  background-image: url('../img/asdas.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 400px;
  background-size: cover;
  position: relative;
}
#owl-demo .one:before {
  position: absolute;
  content: '';
  background-color: #151b28;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  opacity: 0.4;
}
@media (max-width: 768px) {
  #owl-demo .one p {
    padding-top: 155px;
  }
}
@media (max-width: 425px) {
  #owl-demo .one p {
    padding-top: 90px;
    font-size: 32px;
  }
}
@media (max-width: 320px) {
  #owl-demo .one p {
    font-size: 28px ;
    padding-top: 105px;
  }
}
#owl-demo .two {
  background-image: url('../img/f71cde9a89.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 400px;
  background-size: cover;
  position: relative;
}
#owl-demo .two:before {
  position: absolute;
  content: '';
  background-color: #151b28;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  opacity: 0.4;
}
#owl-demo .two p {
  padding-top: 165px;
}
@media (max-width: 768px) {
  #owl-demo .two p {
    padding-top: 155px;
  }
}
@media (max-width: 425px) {
  #owl-demo .two p {
    padding-top: 135px;
    font-size: 32px;
  }
}
@media (max-width: 375px) {
  #owl-demo .two p {
    padding-top: 140px;
  }
}
@media (max-width: 320px) {
  #owl-demo .two p {
    font-size: 28px ;
  }
}
#owl-demo .three {
  background-image: url('../img/04_sunglasses_myths_could_ruin_eyes_right_color_Georgijevic.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 400px;
  background-size: cover;
  position: relative;
}
#owl-demo .three:before {
  position: absolute;
  content: '';
  background-color: #151b28;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  opacity: 0.4;
}
#owl-demo .three p {
  padding-top: 165px;
}
@media (max-width: 768px) {
  #owl-demo .three p {
    padding-top: 155px;
  }
}
@media (max-width: 486px) {
  #owl-demo .three p {
    padding-top: 140px;
  }
}
@media (max-width: 425px) {
  #owl-demo .three p {
    padding-top: 130px;
    font-size: 34px;
  }
}
@media (max-width: 375px) {
  #owl-demo .three p {
    padding-top: 110px;
    font-size: 34px;
  }
}
@media (max-width: 320px) {
  #owl-demo .three p {
    font-size: 28px ;
    padding-top: 130px;
  }
}
#owl-demo .four {
  background-image: url('../img/StockSnap_HXVDSUJRUU.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 400px;
  background-size: cover;
  position: relative;
}
#owl-demo .four:before {
  position: absolute;
  content: '';
  background-color: #151b28;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  z-index: 1;
  opacity: 0.4;
}
#owl-demo .four p {
  padding-top: 165px;
}
@media (max-width: 768px) {
  #owl-demo .four p {
    padding-top: 180px;
  }
}
@media (max-width: 425px) {
  #owl-demo .four p {
    padding-top: 160px;
    font-size: 32px;
  }
}
@media (max-width: 320px) {
  #owl-demo .four p {
    font-size: 28px;
    padding-top: 145px;
  }
}
.logo {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}
.logo:hover {
  color: #000;
}
.main-nav {
  padding: 20px 20px;
}
.main-nav .trigger {
  display: none;
  cursor: pointer;
  outline: none;
  margin-top: 10px;
}
@media (max-width: 766px) {
  .main-nav .trigger {
    display: block;
    float: right;
  }
}
.main-nav a:hover {
  text-decoration: none;
}
.main-list {
  float: right;
  padding: 0;
  margin: 0;
}
@media (max-width: 766px) {
  .main-list {
    display: none;
  }
}
.main-list .fa {
  background-color: #7db122;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
}
@media (max-width: 766px) {
  .main-list {
    position: absolute;
    left: 0;
    top: 135px;
    z-index: 9999;
    background-color: #fff;
    width: 100%;
  }
  .main-list li {
    display: block;
    text-align: center;
    width: 100%;
    line-height: 2;
    transition: all ease-in-out 0.2s;
    border-top: 1px solid #fff;
    background-color: #4cb1ca;
  }
  .main-list li:hover {
    background-color: #fff;
  }
  .main-list li a {
    padding: 10px 0;
    display: inline-block;
    width: 100%;
  }
  .main-list li a:hover {
    color: #4cb1ca;
  }
}
@media (max-width: 330px) {
  .main-list {
    top: 133px;
  }
}
@media (max-width: 318px) {
  .main-list {
    top: 180px;
  }
}
.main-nav li {
  list-style-type: none;
  display: inline-block;
  margin: 10px 15px;
}
@media (max-width: 766px) {
  .main-nav li {
    margin: 0;
  }
}
.main-nav li a {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  transition: all ease-in-out 0.1s;
}
@media (max-width: 766px) {
  .main-nav li a {
    color: #fff;
  }
}
.featured .col-md-3 {
  margin: ;
  border: 1px solid #ddd;
  transition: all ease-in-out 0.2s;
  background-color: #fff;
}
.featured .col-md-3:hover {
  box-shadow: 0 0 5px #000;
  transform: scale(1.1);
  z-index: 9999;
}
.featured .col-md-3 img {
  height: 200px;
  margin: 0 auto;
}
@media (max-width: 425px) {
  .featured .col-md-3 img {
    height: 150px;
  }
}
@media (max-width: 375px) {
  .featured .col-md-3 img {
    height: 120px;
  }
}
.featured .col-md-3 .sub {
  border: 1px solid #ddd;
  margin: 13px 0;
}
.featured .col-md-3 .fa {
  float: right;
  background-color: #7db122;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
}
.featured .col-md-3 .price {
  color: #7db122;
  font-size: 18px;
}
.featured h1 {
  font-weight: 300;
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
}
